@import "../sass/_common.scss";
.mainContent{
	@media (max-width: 1024px){
		// padding: 4vw;
	}
	position: relative;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100%;
	width: 100%; height: 100vh;
	// padding: 160px 120px 80px 120px;
	// padding: 10rem 7.5rem 5rem;
	padding: 5vw;
	box-sizing: border-box;
	video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	.mainUserBx{
		@media (max-width: 430px){
			flex-direction: column;
		}
		display: flex;
		align-items: center;
		width: 100%;
		height: auto;
		gap: 24px;
		margin-top: 12vw;
		.mainUser{
			width: 134px;
			height: 134px;
			border-radius: 50%;
			background: url('@/assets/img/user.jpg')no-repeat 30%;
			box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.1);
		}
		.mainUserTxtBx{
			@media (max-width: 430px){
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			span{
				display: block;
			}
			.userName{
				margin-bottom: 12px;
				font: {
					size: 40px;
					weight: 700;
				}
			}
			.userEmail{
				// color: #9E9EA7;
				color: #FFF;
				font: {
					size: 20px;
					weight: 500;
				}
			}
			.mainUserInfos{
				display: flex;
				gap: 12px;
				margin-top: 32px;
				.mainUserProfile{
					font: {
						size: 16px;
						weight: 500;
					}
					border: 2px solid #e2e2e2;
					border-radius: 8px;
					background: #FFF;
					padding: 8px 12px;
					box-sizing: border-box;
					cursor: pointer;
					&:hover{
						background: rgba(255,255,255,0.3);
					}
				}
				.mainUserCareer{
					padding: 8px 12px;
					box-sizing: border-box;
					border-radius: 50px;
					border: 2px solid #cbc6fc;
					background: #EDECF9;
					cursor: pointer;
					color: #4D44C6;
					font: {
						size: 16px;
						weight: 600;
					}
					&:hover{
						background: #4D44C6;
						color: #FFF;
					}
				}
				.mainUserContact{
					font: {
						size: 16px;
						weight: 500;
					}
					padding: 8px 12px;
					border-radius: 8px;
					background: rgba(51, 51, 51, 0.3);
					box-sizing: border-box;    
					color: #FFF;
					cursor: pointer;
					&:hover{
						background: rgba(51, 51, 51, 0.6);
					}
				}
			}
		}
	}
	.mainBtnBx{
		max-width: 100%;
		width: 100%;
		height: auto;
		.mainBtns{
			@media (max-width: 1024px){
				justify-content: center;
			}
			@media (max-width: 1011px){
				flex-wrap: wrap;
			}
			display: flex;
			gap: 20px;
			width: 100%;
			.mainBtn{
				@media (max-width: 1011px){
					flex-shirink: 0;
					width: auto;
					margin-bottom: 10px;
				}
				@media (max-width: 867px){
					padding: 1.84vw 4.15vw;
				}
				display: flex;
				align-items: center;
				&:hover{
					background: #FFF;
				}
				&.isActive{
					border: 2px solid #9DABFF;
					background: #EDECF9;
					color: #4D44C6;
					box-sizing: border-box;
				}
				font: {
					size: 20px;
					weight: 600;
				}
				// padding: 16px 36px;
				padding: 1vw 1.6vw;
				border: 2px solid #ECECEC;
				border-radius: 18px;
				background: rgba(255, 255, 255, 0.3);
				box-sizing: border-box;
				white-space: nowrap;
				cursor: pointer;
			}
		}
	}
}
.btn-secondary{
	display: flex;
	align-items: center;
	text-align: center;
	background: #ed2553;
	border-radius: 18px;
	border: 2px solid #FF9FB5;
	box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
	// padding: 1rem 1.25rem;
	padding: 1vw 2.5vw;
	font-size: 20px;
	cursor: pointer;
	outline: none;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	box-sizing: border-box;
	&:hover{
		transform: translateY(-3px);
	}
	.fa{	
		display: inline-block;
		margin-right: 5px;
		width: 32px;
		height: 32px;
		background: url('@/assets/img/heart.png')no-repeat center;
		background-size: contain;
		object-fit: contain;
	}
}
.animateLike {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
	0%   { transform: scale(10); }
	100% { transform: scale(1); }
}
.mainUserContact.active{
	display: inline-block;
    margin: 0 0.5rem;
    animation: headShake; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}