@import "../sass/_common.scss";

.showDiv1Area{
    padding: 100px 120px;
    box-sizing: border-box;
    background: #F9F9F9;
    .title{
        display: block;
        font-size: 60px;
        font-weight: bold;
        color: #303443;
    }
    .showDiv1AreaBx{
        display: flex;
        padding-top: 120px;
        .showDiv1AreaImg{
            width: 1169px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .showDiv1AreaTxt{
            margin-left: 36px;
            span{
                display: block;
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 8px;
                &.workTitle{
                    padding-bottom: 36px;
                    font-size: 40px;
                    font-weight: 800;
                }
            }
        }
    }

}